
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 15px;
  background-color: #007bff;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

